amp-story {
  color: #fff;
}

.bottom {
  align-content: end;
}


.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.banner-text {
  text-align: center;
  background-color: #000;
  line-height: 2em;
}